<!-- Revolution slider start -->
<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <li data-slotamount="7" data-transition="3dcurtain-horizontal" data-masterspeed="1000" data-saveperformance="on"> <%= image_tag "dummy.png", alt: "", 'data-lazyload': asset_path('slider1.jpg') %>
        <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="170" data-speed="600" data-start="1600"><span> Discover Yourself </span></div>
        <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200"> SSGS is an International Standard school that helps students <br />to discover their potential by exposing students to the universe of possibilities. </div>
        <div class="caption lfb large-title tp-resizeme slidertext4" data-x="450" data-y="350" data-speed="600" data-start="2800"> <a href="https://docs.google.com/forms/d/1ipWH_mp4_PTgaLtNspj5v5zFNTjPnpIiuJgC6DzAB5M/viewform"><i class="fas fa-edit"></i> Enroll Today</a> </div>
        <!-- <div class="caption lfb large-title tp-resizeme slidertext4 slidertext5" data-x="610" data-y="350" data-speed="600" data-start="3400"> <a href="#"><i class="far fa-calendar-alt"></i> Schedule a Tour</a> </div> -->
      </li>
      <li data-slotamount="7" data-transition="slotzoom-horizontal" data-masterspeed="1000" data-saveperformance="on"> <%= image_tag "dummy.png", alt: "", 'data-lazyload': asset_path('slider.jpg') %>
        <div class="caption lft large-title tp-resizeme slidertext2" data-x="center" data-y="170" data-speed="600" data-start="1600"><span> Versatile Development </span></div>
        <div class="caption lfb large-title tp-resizeme slidertext3" data-x="center" data-y="260" data-speed="600" data-start="2200"> SSGS was set up to be a ‘school with a difference’. Our curriculum combines experiential learning, <br/>
          technology-enabled delivery and a focus on inculcating 21st-century skills.</div>
        <div class="caption lfb large-title tp-resizeme slidertext4" data-x="450" data-y="350" data-speed="600" data-start="2800"> <a href="https://docs.google.com/forms/d/1ipWH_mp4_PTgaLtNspj5v5zFNTjPnpIiuJgC6DzAB5M/viewform"><i class="fas fa-edit"></i> Enroll Today</a> </div>
        <!-- <div class="caption lfb large-title tp-resizeme slidertext4 slidertext5" data-x="610" data-y="350" data-speed="600" data-start="3400"> <a href="#"><i class="far fa-calendar-alt"></i> Schedule a Tour</a> </div> -->
      </li>
    </ul>
  </div>
</div>
<!-- Revolution slider end --> 

<!-- School Start -->
<!-- <div class="our-course-categories-two ">
  <div class="container">
    <div class="categories_wrap">
      <ul class="row unorderList">
        <li class="col-lg-3 col-md-6"> 
          
          <div class="categories-course">
            <div class="item-inner">
              <div class="cours-icon"> <span class="coure-icon-inner"> <%#= image_tag "teacher.png", alt: "" %> </span> </div>
              <div class="cours-title">
                <h4>Expert teachers</h4>
                <p>Lorem ipsum dolor sit amet, adipiscing elit. Vivamus nibh dolor gravida at eleifend</p>
              </div>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-6"> 
          
          <div class="categories-course">
            <div class="item-inner">
              <div class="cours-icon"> <span class="coure-icon-inner"> <%#= image_tag "book.png", alt: "" %> </span> </div>
              <div class="cours-title">
                <h4>Quality Education</h4>
                <p>Lorem ipsum dolor sit amet, adipiscing elit. Vivamus nibh dolor gravida at eleifend</p>
              </div>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-6"> 
          
          <div class="categories-course" >
            <div class="item-inner">
              <div class="cours-icon"> <span class="coure-icon-inner"> <%#= image_tag "support.png", alt: "" %> </span> </div>
              <div class="cours-title">
                <h4>Life Time Support</h4>
                <p>Lorem ipsum dolor sit amet, adipiscing elit. Vivamus nibh dolor gravida at eleifend</p>
              </div>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-md-6"> 
          <div class="categories-course">
            <div class="item-inner">
              <div class="cours-icon"> <span class="coure-icon-inner"> <%#= image_tag "scholarship.png", alt: "" %> </span> </div>
              <div class="cours-title">
                <h4>Scholarship News</h4>
                <p>Lorem ipsum dolor sit amet, adipiscing elit. Vivamus nibh dolor gravida at eleifend</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<!-- School End --> 